/* Menda Font Family */

@font-face {
    font-family: 'Menda';
    src: url('./Menda Black.otf') format('opentype'),
         url('./Menda Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Menda';
    src: url('./Menda Extrabold.otf') format('opentype'),
         url('./Menda Extrabold.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Menda';
    src: url('./Menda Bold.otf') format('opentype'),
         url('./Menda Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Menda';
    src: url('./Menda Semibold.otf') format('opentype'),
         url('./Menda Semibold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Menda';
    src: url('./Menda Medium.otf') format('opentype'),
         url('./Menda Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}
